<li class="post">
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
  
  
  <h3 class="post-title">
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>
  <div class="snippet-image-container">
    {% if post.featuredImage and post.featuredImage.image != '' %}
      <div class="featured-image{% if post.featuredImage.orientation %} {{ post.featuredImage.orientation}}{% endif %}">
        <img src="{{ post.featuredImage.image }}"  />
     </div>
    {% endif %}
    <div class="snippet-container">
      <p class="post-meta">{{ post.date | date: date_format }}</p>
      {% if post.snippet %}
        <div class="snippet">
          {{ post.snippet | markdownify }}
        </div>
      {% endif %}
    </div>
  </div>
</li>