{% if post.category and post.category == 'Book Reviews' %}
  {% assign bookReview = true %} 
{% else %}
  {% assign bookReview = false %}
{% endif %}

{% if post.tags and post.tags != '' %}
  {% assign tags = "" %}
  {% for tag in post.tags %}
    {% assign formattedTag = tag.tag | downcase | replace: ' ', '-' %}
    {% if tags != "" %}
      {% assign tags = tags | append: ", " %}
    {% endif %}
    {% assign tags = tags | append: formattedTag %}
  {% endfor %}
{% endif %}

{% if post.category and post.category != '' %}
  {% assign category = true %}
{% else %}
 {% assign category = false %}
{% endif %}

{% if post.tags and post.tags != '' %}
  {% assign tags = true %}
{% else %}
 {% assign tags = false %}
{% endif %}

{% if post.series and post.series != '' %}
  {% assign series = true %}
{% else %}
 {% assign series = false %}
{% endif %}

{% if post.subtitle and post.subtitle != '' %}
  {% assign subtitle = true %}
{% else %}
 {% assign subtitle = false %}
{% endif %}

{% assign categoryClass = post.category | downcase | replace: " ", "-" %}

<li class="post{% if category %} {{ category }}{% endif %}" {% if category %} data-category="{{ post.category | downcase | replace: ' ', '-' | replace: '&', 'and' }}"{% endif %} {% if tags %} data-tags="{{ tags }}"{% endif %} {% if series %} data-series="{{ post.series | downcase | replace: ' ', '-' }}"{% endif %}>
  
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
  
  <h3 class="post-title title">
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>

  {% if post.subtitle and post.subtitle != '' %}
    <h4 class="subtitle{% if jekyll.environment != 'production' and series %} series{% endif %}">{{ post.subtitle }}</h4>
  {% endif %}
  
  {% if post.category == 'Book Reviews' %}
    <p class="small category">Book Review</p>
  {% endif %}
  
  {% if jekyll.environment != 'production' and post.series and post.series != '' %}
    <p class="series small half-spacing-margin-bottom">Part of my {{ post.series }} series</p>
  {% endif %}

  {% if post.enabled != true %}
    <h4><em>Not showing in production</em></h4>
  {% endif %}
  
  <div class="snippet-image-container{% if post.featuredImage.orientation %} {{ post.featuredImage.orientation }}{% endif %}">
    {% if post.featuredImage and post.featuredImage.image != '' %}
      <div class="featured-image{% if post.featuredImage.orientation %} {{ post.featuredImage.orientation}}{% endif %}">
        <img src="{{ site.placeholderImage }}" data-image="{{ post.featuredImage.image }}" {% if bookReview %}class = "book-cover" {% endif %}alt="{% if post.featuredImage.altText %}{{ post.featuredImage.altText }}{% else %}Featured image{% endif %}" />
     </div>
    {% endif %}

{% comment %}
    {% if bookReview and post.coverImage and post.coverImage != '' %}
    <div class="featured-image book-cover {% if post.featuredImage.orientation %} {{ post.featuredImage.orientation}}{% endif %}">
        <img src="{{ site.placeholderImage }}" data-image="{{ post.coverImage }}" alt="{{ post.title }} cover image" />
     </div>
    {% endif %}
{% endcomment %}
    <div class="snippet-container">
      <p class="post-meta">{{ post.date | date: date_format }}</p>
      {% if post.snippet %}
        <div class="snippet">
          {{ post.snippet | markdownify }}
          <p>
            <a href="{{ post.url | relative_url }}">Read more</a>
          </p>
        </div>
      {% endif %}
    </div>
  </div>
</li>
