<li class="post">
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
  
  <h3 class="post-title">
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>
  {% if post.featuredImage.image != '' %}
    <p>
      <img class="featured{% if post.featuredImage.orientation %} {{ post.featuredImage.orientation}}{% endif %}" src="{{ post.featuredImage.image }}" />
    </p>
  {% endif %}
  <p class="post-meta">{{ post.date | date: date_format }}</p>
  {% if post.snippet %}
    {{ post.snippet | markdownify }}
  {% endif %}
</li>