{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

<li class="post" data-category="{{ post.category | downcase | replace: ' ', '-' }}">
    <div class="blurb-container">
        <a class="blurb" href="{{ post.url | relative_url }}">
            <p class="post-meta">{{ post.date | date: date_format }}</p>
            <p class="blurb-text">{{ post.text | escape }}</p>
        </a>
    </div>
</li>
