{% if page.layout == 'home' %}
  {% assign home = true %}
  {% assign sectionTitleTag = 'h3' %}
  {% assign certTitleTag = 'h4' %}
{% else %}
  {% assign home = false %}
  {% assign sectionTitleTag = 'h2' %}
  {% assign certTitleTag = 'h3' %}
{% endif %}


{% if site.certifications.size > 0 %}
  {% assign date_format = site.minima.date_format | default: "%B %e, %Y" %}
  {% assign sorted_certs = site.certifications | sort:'certificationDate' | reverse %}
  <section class="collection-index{% if home %} home work{% endif %}">
    <{{ sectionTitleTag }} class="certification-header section-title text-align-center" id="certifications">
      Certifications
    </{{ sectionTitleTag }}>
    <ul class="post-list certifications">
      {% for post in sorted_certs %}
      {% if post.featured or home == false %}
        <li class="certification"{% if post.expirationDate and post.expirationDate != '' %} data-expiration-date="{{ post.expirationDate }}"{% endif %} data-title="{{ post.title }}">
          {% if post.logo %}
            <div class="logo">
              <a href="{{ post.link }}" target="_blank">
                <img src="{{ site.placeholderImage }}" data-image="{{ post.logo }}" alt="{{ post.title }} logo" />
              </a>
            </div>
          {% endif %}
          <div class="title-meta">
            <{{ certTitleTag }} class="certification-title text-align-center">
              {% if post.link %}<a href="{{ post.link}}" target="_blank">{% endif %}
              {{ post.title }}
              {% if post.link %}</a>{% endif %}
            </{{ certTitleTag }}>
            {% if post.certificationDate or post.expirationDate %}
              <p class="post-meta">
                {% if post.certificationDate %}
                  <span class="certification-date">
                    {{ post.certificationDate | date:date_format }}
                  </span>
                {% endif %}  
              </p>
            {% endif %}
          </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% if home %}
      <h4 class="text-align-center">
        <a href="/work#certifications">View all</a>  
      </h4>
    {% endif %}
  </section>
{% endif %}
