<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign sorted_pages = site.pages | sort:"order" %}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}" style="text-decoration: none;">
      {% if page.title %}
        <img src="/img/uploads/logo.jpg" style="border-radius: 50%; height: 45px; width: 45px; vertical-align: middle; "/> 
      {% endif %}
      <span style="vertical-align: middle;">{{ site.title | escape }}</span>
    </a>

    {% if sorted_pages %}
    <div class="nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger">
      <label for="nav-trigger"><span class="hamburger"><span class="fas fa-bars"></span>&nbsp;Menu</span><span class="close"><span class="fas fa-times"></span>&nbsp;Close</span></label>
    
      <ul class="nav-list">
        {% for page in sorted_pages %}
          {% if page.title %}
            <li class="nav-item"><a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</header>
