{% if page.ogDescription %}
  {% assign og_description = page.ogDescription %}
{% elsif page.snippet %}
  {% assign og_description = page.snippet %}
{% elsif page.content %}
  {{ assign og_description = page.content }}
{% endif %}

{% if page.ogImage and page.ogImage != '' %}
  {% assign og_image = page.ogImage %}
{% elsif page.featuredImage and page.featuredImage.image != '' %}
  {% assign og_image = page.featuredImage.image %}
{% endif %}

{% if jekyll.environment == 'production' %}
  {% assign url = site.url %}
{% else %}
  {% assign url = 'http://' | append: jekyll.environment | append: '.jimchristie.me' %}
{% endif %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.title %}<meta property='og:title' content='{{ site.title }} | {{ page.title }}' />{% endif %}
  {% if og_image %}<meta property='og:image' content='{{ og_image }}' />{% endif %}
  {% if og_description %}<meta property='og:description' content='{{ og_description | markdownify | strip_html }}' />{% endif %}
  <meta property='og:url' content="{{ url }}{{ page.url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#111" />
  {% if jekyll.environment != 'production' %}<meta name="robots" content="noindex">{% endif %}

  <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
  {% comment %}
    {% seo %}
  {% endcomment %}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {% if jekyll.environment == 'production' %}
    {% include google-analytics.html %}
    {% include smartlook.html %}
    {% include logrocket.html %}
  {% endif %}
  <!--<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" type="text/javascript" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>-->
  <script defer src="https://kit.fontawesome.com/30f5b2d757.js" crossorigin="anonymous"></script>
  <script defer src="/assets/main.js" type="text/javascript"></script>
  {% feed_meta %}
</head>
