 <header class="site-header">
  
  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign sorted_pages = site.pages | sort:"order" %}
    <div class="image-title">
      {% if page.title and site.logo %}
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}" style="text-decoration: none;">
          <img class="header-image" src="{{ site.logo }}" alt="logo"/> 
        </a>
      {% endif %}
      <h1 class="site-title">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}" style="text-decoration: none;">
           <span>{{ site.title | escape }}</span>
        </a>
      </h1>
    </div>

    {% if sorted_pages %}
    {% assign section = page.url | split, "/" %}
    {% assign section = section [1] %}
    <div class="nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger">
      <label for="nav-trigger"><span class="hamburger"><span class="fas fa-bars"></span>&nbsp;Menu</span><span class="close"><span class="fas fa-times"></span>&nbsp;Close</span></label>
    
      <ul class="nav-list">
            <li class="nav-item"><a class="page-link home-link" href="/">Home</a></li>
            <li class="nav-item{% if section == "blog" %} current-section{% endif %}"><a class="page-link" href="/blog">Blog</a></li>
        {% for item in sorted_pages %}
          {% if item.title != "Blog" and item.title != "Book Reviews" and item.title %}
            {% assign lowerCaseTitle = item.title | downcase %}
              <li class="nav-item{% if lowerCaseTitle == section %} current-section{% endif %}"><a class="page-link" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  
</header>
