<div class="license-blurb">
	{% if license.icon-codes and license.icon-codes.size > 0 %}
		<p class="license-icon">
			{% for icon in license.icon-codes %}
				{{ icon.icon-code }}
			{% endfor %}
		</p>
	{% endif %}
	<p class = "license"><a href="{{ license.link }}">{{ license.name }}{% if license.abbreviation %} ({{ license.abbreviation | replace: ' ', '&nbsp;' | replace: '-', '&#8209' }})</a>{% endif %}
	</p>
</div>

