<!-- SORTING -->
{% assign sortedSyndicationSiteNames = '' | split: '' %}
{% for pageSyndication in page.syndications %}
  {% assign site-name-array = pageSyndication.syndication.site-name | append: ',' | split: ',' %}
  {% assign sortedSyndicationSiteNames = sortedSyndicationSiteNames | concat: site-name-array %}
{% endfor %}
{% assign sortedSyndicationSiteNames = sortedSyndicationSiteNames | sort %}
<!-- END SORTING -->
<!-- check for licensing -->
{% assign licensed = false %}
{% if page.license and page.license != '' %}
  {% assign licensed = true %}
{% else %}
  {% for pageSyndication in page.syndications %}
    {% for syndication in site.syndication-sites %}
      {% if pageSyndication.syndication.site-name == syndication.site-name %}
        {% if syndication.license and syndication.license != '' %}
          {% assign licensed = true %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

<!-- check for syndications -->
{% if page.syndications and page.syndications != '' %}
  {% assign syndicated = true %}
{% else %}
  {% assign syndicated = false %}
{% endif %}

<div class="reprint-disclaimer">
  <ul>
    
    <!-- loop through alphebitized syndication names -->
    {% for syndicationName in sortedSyndicationSiteNames %}
      <!-- loop through syndication collection and match to alphabetized names -->
      {% for syndication in site.syndication-sites %}
        {% if syndication.site-name == syndicationName %}
          {% assign syndication = syndication %}
          {% if syndication.license and syndication.license != '' %}
            {% for license in site.content-licenses %}
              {% if license.name == syndication.license %}
                {% assign license = license %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
      
      <!-- loop through page.syndications and match post links to alphabetized names -->
      {% for pageSyndication in page.syndications %}
         {% if pageSyndication.syndication.site-name == syndicationName %}
           {% assign post-url = pageSyndication.syndication.url %}
          {% endif %}
      {% endfor %}
      
      <!-- pass single syndication to include -->
      {% include syndication-single.html syndication=syndication post-url=post-url %}
      
      <!-- it seems like this is where I should call the include from line 56, but it didn't work. -->
      
    {% endfor %} 
  

  <!-- Get license not affiliated with syndications -->
  {% if page.license and page.license != '' %}
    {% for siteLicense in site.content-licenses %}
      {% if page.license == siteLicense.name %}
        {% assign license = siteLicense %}<!-- overrides syndication licenses -->
      {% endif %}
    {% endfor %}
  {% endif %}
  
  </ul>
  {% if license and license != '' %}
    {% include license-blurb.html license=license %}
  {% endif %}
</div>