<ul class="social-media-list">
  {% if site.github_username%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank"><span class="fab fa-github"></span> <span class="sitename" title="{{ site.github_username| escape }}">GitHub</span></a></li>{% endif %}
  {% if site.gitlab_username%}<li><a href="https://gitlab.com/{{ site.gitlab_username| cgi_escape | escape }}" target="_blank"><span class="fab fa-gitlab"></span> <span class="sitename" title="{{ site.gitlab_username| escape }}">GitLab</span></a></li>{% endif %}
  {% if site.linkedin_username%}<li><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" target="_blank"><span class="fab fa-linkedin-in"></span> <span class="sitename" title="{{ site.linkedin_username| escape }}">LinkedIn</span></a></li>{% endif %}
  {% if site.twitter_username%}<li><a class href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" target="_blank"><span class="fab fa-twitter"></span> <span class="sitename" title="{{ site.twitter_username| escape }}">Twitter</span></a></li>{% endif %}
  {% if site.stackexchange.username and site.stackexchange.id %}<li><a class href="https://stackexchange.com/users/{{ site.stackexchange.id }}/{{ site.stackexchange.username | cgi_escape | escape }}" target="_blank"><span class="fab fa-stack-exchange"></span> <span class="sitename" title="{{ site.stackexchange.username | escape }}">Stack Exchange</span></a></li>{% endif %}
</ul>
