<!--
site-name {{ include.site-name }} <br>
username {{ include.username }}<br>
profile-link {{ include.profile-link }}<br>
post-link {{ include.post-url }}<br><br>
icon {{ include.icon-code }}
-->

{% assign syndication = include.syndication %}
{% assign post-url = include.post-url %}

<li class="syndication">
  <div class="syndication-icon">{{ syndication.icon-code }}</div>
  <div class="syndication-info">
    <h5>{{ syndication.site-name }}</h5>
    {% if syndication.username and syndication.username != '' %}
      <p>posted as <a href="{{ syndication.profile-link }}">{{ syndication.username }}</a></p>
    {% else %}
      <p><a href="{{ syndication.profile }}">view profile</a></p>
    {% endif %}
    <p class="syndication-content-link"><a href="{{ post-url }}">{{ post-url }}</a></p>
  </div>
</li>
