<li>
  <div class="logo-snippet-container">
    {% if post.logo %}
      <div class="logo">
        <img src="{{ post.logo }}" alt="{{ post.company }} logo">
      </div>
    {% endif %}
    <div class="snippet-container">
      <h3 class="job-title">
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <h4 class="company">
        {{ post.company }}
      </h4>

      {% assign date_format = site.minima.date_format | default: "%B, %Y" %}
      <p class="post-meta employment-dates">{{ post.startDate | date: date_format }} - {% if post.endDate %}{{ post.endDate | date: date_format }}{% else %}Present{% endif %}</p>


        {% if post.snippet %}
          <div class="snippet">
            {{ post.snippet }}
          </div>
        {% endif %}
    </div>
  </div>
</li>