{% assign date_format = site.minima.date_format | default: "%B %Y" %}
{% assign year_format = site.minima.date_format | default: "%Y" %}
{% capture endYear %}{{ post.endDate | date: year_format }}{% endcapture %}

{% if endYear == '9999' %}
  {{ assign current_or_old = 'current' }}
{% else %}
  {{ assign current_or_old = 'old' }}
{% endif %}

<li>
  <div class="logo-snippet-container {{ current_or_old }}-job">
    {% if post.logo %}
      <div class="logo">
        <img src="{{ site.placeholderImage }}" data-image="{{ post.logo }}" alt="{{ post.company }} logo">
      </div>
    {% endif %}
    <div class="snippet-container">
      <h3 class="job-title title">
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <h4 class="company">
        {{ post.company }}
      </h4>
      <p class="post-meta employment-dates">
        <span class = "start-dates">
          {{ post.startDate | date: date_format }} 
        </span> - 
        <span class="end-date">
          {% if endYear != '9999' %}
            {{ post.endDate | date: date_format }}
          {% else %}
            Present
          {% endif %}
        </span>
      </p>
      {% if post.snippet %}
        <div class="snippet">
          {{ post.snippet | markdownify }}
          <p>
            <a href="{{ post.url | relative_url }}">Read more</a>
          </p>
        </div>
      {% endif %}
    </div>
  </div>
</li>
