/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
//   min-height: $double-spacing;
  padding-top: $half-spacing;
  padding-bottom: $half-spacing;
  
  .header-image {
    border-radius: 50%; 
    @include rem-fallback(height, 65px); 
    @include rem-fallback(width, 65px); 
    vertical-align: middle; 
  }
  
  .wrapper {
    position: relative;
  }
  
  @include media-query($on-laptop){
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
  }
  
  @include media-query($on-tablet){
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
  
  @include media-query($on-palm){
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
}

.site-title {
//   @include relative-font-size(1.625);
  @include rem-fallback(font-size, 30px);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  display: inline;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  
  @include media-query($on-laptop) {
    padding: 0;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  
  .post-title {
    @include rem-fallback(margin-bottom, $quarter-spacing);
  }

  .post {
    margin-bottom: $double-spacing;
  }
}

img {
  &.featured {
    max-width: 30vh;
    max-height: 40vh;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

button {
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  background-color: $grey-color-light;
  color: $text-color;
  border: 1px solid $grey-color;
  
  &:hover {
  background-color: $grey-color-dark;
  color: $background-color;
  }
}

/**************** Font Awesome ********************************/

.svg-inline--fa {
  color: inherit;
}
