

.nav {
  margin: 0;
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 20px;
  
  label {
    display: none;
  }
}

.nav-trigger {
  display: none;
}

.nav-list {
  display: flex;
}
.nav-item {
  display: block;
  list-style-type: none;
  margin-left: $spacing-unit;
  
  @include media-query($on-palm){
    margin-left: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
}

.home-link {
  display: none;
  
  @include media-query($on-palm) {
    display: block;
  }
}

/************** Mobile Styles ******************************/


@include media-query($on-palm) {

  .close {
    display: none;
  }

  input:checked ~ .nav-list {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: -25px;
    background-color: $background-color;
    left: -30px;
    overflow: hidden;

  }
  
  
  input:checked ~ label[for="nav-trigger"] {
    position: fixed;
    right: 15px;
    z-index: 1;
    text-align: right;

    .close {
      display: block;
    }

    .hamburger {
      display: none;
    }
  }

  .nav-list {
    display: none;
    margin-top: 25px;
    padding-top: 55px;
    border-top: 5px solid $grey-color-dark;
    text-align: center;
    box-sizing: border-box;

  }

  .nav-item {
    box-sizing: border-box;
    width: 100vw;
    border-top: 3px solid $grey-color-light;

    a {
      display: block;
      padding: 25px 0;
    }


    &:last-of-type {
      border-bottom: 3px solid $grey-color-light;
    }

    &:hover {
      background-color: $grey-color-light;
    }

  }


  .nav {

    label {
      display: block;
      
      &:hover {
        cursor: pointer;
      }
    }
  }
}