@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default; // 13.6
$large-font-size:  $base-font-size * 1.5; // 24px
$huge-font-size:   $base-font-size * 2; 
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$half-spacing:     $spacing-unit / 2;
$double-spacing:   $spacing-unit * 2;
$quarter-spacing:  $spacing-unit / 4;

$negative-spacing:          $spacing-unit * -1;
$negative-half-spacing:     $half-spacing * -1;
$negative-double-spacing:   $double-spacing * -1;
$negative-quarter-spacing:  $quarter-spacing * -1;

$black:            #111;
$white:            #fefefe;
$true-black:       #000;
$text-color:       $black;
$background-color: $white;
$lightbox-background: rgba(0, 0, 0, 0.93);
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282;
$gray-color:       $grey-color;
$grey-color-light: lighten($grey-color, 25%);
$gray-color-light: lighten($grey-color, 25%);
$grey-color-extra-light: lighten($grey-color, 40%);
$gray-color-extra-light: lighten($grey-color, 40%);
$grey-color-super-light: lighten($grey-color, 45%);
$gray-color-super-light: lighten($grey-color, 45%);
$grey-color-dark:  darken($grey-color, 25%);
$gray-color-dark:  darken($grey-color, 25%);

$table-text-align: left !default;

// Width of the content area
$content-width:    1200px !default;

$tiny:             $content-width / 4;
$small-phone:      $content-width / 3;
$on-palm:          $content-width / 2 !default;
$on-tablet:        $content-width * 0.75;
$on-laptop:        $content-width !default;


$transition-speed: 0.15s;
$fast-transition-speed: 0.5s;
$slow-transition-speed: 0.25s;



// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@function strip-unit($number){
  @return $number / ($number * 0 + 1);
}

@function rem-multiplier(){
  $base: strip-unit($base-font-size);
  @return 1 / $base;
}

/**
  * takes in an property and outputs a pixel fallback and a rem value
  */
// @mixin rem-fallback($property, $pixels, $important) {
@mixin rem-fallback($property, $pixels) {
  $number: strip-unit($pixels);
  
  #{$property}: $number + px;
  #{$property}: ($number * rem-multiplier()) + rem;
  
  // if $important == 'important' {
  //   #{$property}: ($number * rem-multiplier()) + rem;
  // } 
}

/**
  * takes in font-size in pixels
  * writes a rem fallback
  */
@mixin px-font-size($size) {
  $number: strip-unit($size);
  $unit: unit($size);
  
  @if $unit == "px" {
    @include rem-fallback('font-size', $size);
  } @else if $unit == 'rem' {
    font-size: (strip-unit($base-font-size) * $size) + px;
    font-size: $size;
  } @else if $unit == 'em'{
    font-size: $size;
  } @else {
    font-size-unit: assumed-pixels;
    @include rem-fallback('font-size', ($number + 'px'));
  }
}

/**
  * builds out a border property in both px and rem font size
  * takes in any number of border properties
  */
@mixin rem-fallback-border ($size, $properties...) {
  $number: strip-unit($size);
  $unit: unit($size);
  $pixels: $number + px;
  $rem: ($number * rem-multiplier()) + rem;
  
  @if $unit == '' {
    border-size-unit: assumed-pixels;
  } 
  
  @if $unit == 'rem' {
    $pixels: $number * strip-unit($base-font-size);
    $rem: $size;
  }
  
  @for $i from 1 through length($properties) {
    $pixels: $pixels + ' ' + nth($properties, $i);
    $rem: $rem + ' ' + nth($properties, $i);
  }
  
  border: $pixels;
  border: $rem;
}

// Import partials.
@import
  "base",
  "layout",
  "footer",
  "syntax-highlighting",
  "home",
  "nav",
  "embeds",
  "reusable-classes",
  "art",
  "contact",
  "post",
  "work",
  "blog-snippet",
  "book-reviews",
  "syndications",
  "licenses",
  "spoilers",
  "blurb"
;
