---
layout: default
title: Blog
---
{% if site.posts.size > 0 %}
  {% assign posts = site.posts %}
{% endif %}

{% if site.book-reviews.size > 0 %}
  {% assign posts = posts | concat: site.book-reviews %}
{% endif %}

{% if site.blurbs.size > 0 %}
  {% assign posts = posts | concat: site.blurbs %}
{% endif %}

{% if site.q-a-answers.size > 0 %}
  {% assign posts = posts | concat: site.q-a-answers %}
{% endif %}

{% assign posts = posts | sort: "date" | reverse %}
{% assign categories = "" %}

{% for post in posts %}
  {% if categories contains post.category %}
  {% else %}
    {% if post.enabled or jekyll.environment != 'production' %}
      {% if post.category and post.cagegory != '' %}
        {% if categories == "" %}
          {% assign categories = post.category %}
        {% else %}
          {% assign categories = categories | append: ", " %}
          {% assign categories = categories | append: post.category  %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% comment %}
  <!---- There's something that isn't working right with the tags yet ---> 
  <!---- I made the above comment a while back and now I don't remember what wasn't working right. Needs further investigation. --->
  {% if post.tags and post.tags != '' %}
    {% for tag in post.tags %}
      {% if tag == ' ' or categories contains tag %}
      {% else %}
        {% assign categories = categories | append: ", " %}
        {% assign categories = categories | append: tag.tag  %}
      {% endif %}
    {% endfor%}
  {% endif %}
  {% endcomment %}
{% endfor %}

{% assign categories = categories | split: ", " | sort %}



<script type="text/javascript" src="/assets/categoryFilter.js" defer ></script>

<div id="submenu">
  <ul class="category-filters">
    {% for category in categories %}
      <li class="button category-filter" data-category="{{ category | downcase | replace: ' ', '-' | replace: '&', 'and' }}">{{ category }}</li>
    {% endfor %}
  </ul>
</div>



<div class="blog collection-index display-none" id="collection-index">

  {% if posts.size > 0 %}
    <ul class="post-list blog-index">
      {% for post in posts %}
        {% if post.enabled or jekyll.environment != "production" %}
            {% if post.category == "Blurbs" and jekyll.environment != "production" %}
                {% include blurb.html %}
            {% else %}
                {% include blog-index-snippet.html %}
            {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    {% comment %}
    <!-- Does anybody actually use RSS Readers anymore?
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    -->
    {% endcomment %}
  {% endif %}
  
  {% if paginator.page %}
  <div class="pagination-nav" style="margin: auto; display: inline-block;">
    {% if paginator.previous_page %}
      <span class="previous"><a href="{{ paginator.previous_page_path }}" class="next"><i class="fas fa-angle-double-left"></i> Newer Posts</a> <i class="fas fa-grip-lines-vertical"></i> </span>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <span class="next "> <i class="fas fa-grip-lines-vertical"></i> <a href="{{ paginator.next_page_path }}" class="next">Older Posts <i class="fas fa-angle-double-right"></i></a></span>
    {% endif %}
  </div>
  {% endif %}

</div>
