---
layout: default
---

<div class="art collection-index">
  
  {% if site.art.size > 0 %}
  
    <div class="gallery">        
      {% assign featured_images = site.art | where: 'featured', 'true' %}
      {% assign not_featured_images = site.art | where: 'featured', 'false' %}
      {% assign count = 0 %}
      {% for post in featured_images %}
        {% assign count = count | plus: 1 %}
        {% include gallery-image.html %}
      {% endfor %}
      {% for post in not_featured_images %}
        {% assign count = count | plus: 1 %}
        {% include gallery-image.html %}
      {% endfor %}
    </div>
  
  {% endif %}

</div>
