---
layout: default
---


{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

<header class="post-header">
    <h1 class="post-title p-name{% if page.subtitle and page.subtitle != '' %} has-subtitle{% endif %}" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.subtitle and page.subtitle != '' %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
</header>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="blurb-container single-blurb">
        <div class="blurb">
            <p class="post-meta">{{ page.date | date: date_format }}</p>
            <p class="blurb-text">{{ page.text | escape }}</p>
        </div>
    </div>
</article>

