---
layout: default
---

<section class="book-reviews collection-index">
  {% if site.book-reviews.size > 0 %}
    {% assign reviews = site.book-reviews %}
    <h2 id="job-history">
      Book Reviews
    </h2>
    <ul class="post-list book-review-index">
      {% for review in reviews %}
      
      <!-- Need to set up the index -->
      <li class="review">
        <h3><a href="{{ review.url }}">{{ review.title }}</a></h3>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>