---
layout: default
---

      
{% if page.affiliateLink and page.affiliateLink != '' %}
  {% assign purchaseLink = page.affiliateLink %}
{% elsif page.nonAffiliateLink and page.nonAffiliateLink != '' %}
  {% assign purchaseLink = page.nonAffiliateLink %}
{% endif %}
{% assign emptyStars = page.stars | plus: 1 %}

<article class="book-review">
    
  {% if page.featuredImage %}
    <div class="center book-cover">
      {% if purchaseLink %}<a href="{{ purchaseLink}} ">{% endif %}
      <img src="{{ page.featuredImage.image }}" class="featured">
      {% if purchaseLink %}</a>{% endif %}
    </div>
  {% endif %}
    
  
  <div class="book-title-author">
    <h2 class="center book-title">{% if purchaseLink %}<a href="{{ purchaseLink }}" class="plain-link">{% endif %}{{ page.title }}</a><br>
    <span class="center small-font">by</span><br>
    <span class="book-author center h3"> {{ page.author }}</span>
    </h2>
  </div>
  
  {% if page.featuredImage.image and page.featuredImage.image != '' %}
    <img class="featured" src="{{ post.featuredImage.image }}" />
  {% endif %}
  
  
  <div class="headline center">
    {% for star in (1..page.stars) %}
      <i class="fa-sharp fa-solid fa-star"></i>
    {% endfor %}
    {% for star in (emptyStars..5) %}
      <i class="fa-regular fa-star"></i>
    {% endfor %}
    {{ page.headline | markdownify }}
  </div>
  
  <div class="content">
    {{ page.review | markdownify }}
  </div>
  
  {% if purchaseLink %}
    <div class="purchase">
      <p class="center"><a href="{{ purchaseLink }}" class="button">Get a copy!</a></p>
    </div>
  {% endif %}
  
</article>
