---
layout: default
---
<article class="page">

  <form action="https://formspree.io/{{ site.contactFormEmail }}" method="POST" accept-charset="utf-8">
    <input type="hidden" name="_utf8" value="✓">

    <!--
      NOTE: This is an optional field, if your form has a field named '_redirect',
      The user will be redirected to this page after the submission is saved
    -->
    <input type="hidden" name="_next" value="/" />

    <h3 class="input-label">Name</h3>
    <input type="text" id="name" name="name"> <br />

    <h3 class="input-label">Email</h3>
    <input type="text" name="_replyto" class="smartlook-mask" data-private="lipsum" /> <br />
    
    <h3 class="input-label">Subject</h3>
    <input type="text" name="_subject"/><br />
    
    <h3 class="input-label">Message</h3>
    <textarea rows="10" cols="40" id="message" name="message"></textarea> <br />
    
    <input type="text" name="_gotcha" style="display:none" />

    <button type="submit">Submit</button>
  </form>

</article>
