---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body{% if jekyll.environment == "development" %} class="development"{% endif %}>
    
    <!-- {{ jekyll.environment | upcase }} -->

    {% include header.html %}
    
    {% if page.collection %}
      {% assign class = page.collection %}
    {% elsif page.title %}
      {% assign class = page.title | downcase %}
    {% else %}
      {% assign class = "home" %}
    {% endif %}
    

    <main class="page-content" aria-label="Content">
      <div class="wrapper {{ class }}">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
