---
layout: default
---

<section class="home about">

  {% if page.title %}
  <header class="post-header">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </header>
  {% endif %}

  <div class="post-content">
    {% if site.logo %}
      <img src="{{ site.logo }}" alt="logo" style="border-radius: 50%"/>
    {% endif %}
    <div class="text">
      <h3 class="display-none">
        About Me
      </h3>
      {{ site.description }}
    </div>
  </div>
</section>

{% if jekyll.environment != "production" %}
  {% assign featured_posts = site.posts | where:"featured", true %}
{% else %}
  {% assign featured_posts = site.posts | where:"enabled", true | where:"featured", true %}
{% endif %}

{% assign featured_art = site.art | where:"featured", true | sort: date | reverse %}

<!-- Work section -->

{% assign work_date_format = site.minima.date_format | default: "%B %Y" %}
{% assign year_format = site.minima.date_format | default: "%Y" %}
{% assign numberOfCurrentJobs = 0 %}
{% assign sorted_work = site.work | sort:'startDate' | reverse %}

{% for post in site.work %}
  {% capture endYear %}{{ post.endDate | date: year_format }}{% endcapture %}
  {% if endYear == '9999' %}
    {% assign numberOfCurrentJobs = numberOfCurrentJobs | plus:1 %}
  {% endif %}
{% endfor %}

{% if site.work.size > 0 and numberOfCurrentJobs > 0 %}
<section class="home work">
  <h3 class="section-title">
    Current Job{% if numberOfCurrentJobs > 1 %}s{% endif %}
  </h3>
  <ul class="post-list work-index">
    {% for post in sorted_work %}
    {% capture endYear %}{{ post.endDate | date: year_format }}{% endcapture %}
      {% if endYear == '9999' %}
        {% include work-index-snippet.html %}
      {% endif %}
    {% endfor %}
  </ul>
  <h4 class="more">
    <a href="/work">More Work History</a>
  </h4>
</section>
{% endif %}

{% include certifications.html %}

<!-- featured posts -->

{% if featured_posts.size > 0 %}
<section class="home post">
  <h3 class="section-title">
    Recent Blog Post
  </h3>
  <ul class="post-list blog-index">
    {% for post in featured_posts limit:1 %}
      {% include blog-index-snippet.html %}
    {% endfor %}
  </ul>
  <h4 class="more">
    <a href="/blog">All Blog Posts</a>
  </h4>
</section>
{% endif %}

<!-- Art section -->

{% if featured_art.size > 0 %}
{% assign count = 0 %}
<section class="home art">
  <h3 class="section-title">
    Featured Artworks
  </h3>
  <div class="post-list">
    {% for post in featured_art limit: 4 %}
    {% assign count = count | plus:1 %}
    <div class="art-preview art-preview-{{ count }}">
      <div class="thumbnail" data-background-image="{{post.primaryImage.image }}" data-background-position="{% if post.primaryImage.focalPoint %}{{ post.primaryImage.focalPoint.leftRight }} {{ post.primaryImage.focalPoint.topBottom }}"{% endif %}>
        <a href="{{ post.url | relative_url }}"></a>
      </div>
      <h4 class="title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h4>
    </div>
    {% endfor %}
  </div>
  <h4 class="more">
    <a href="/art">View Gallery</a>
  </h4>
</section>
{% endif %}
