---
layout: default
---
<article class="home about">

  {% if page.title %}
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  {% endif %}

  <div class="post-content">
    <img src="/img/uploads/logo.jpg" style="border-radius: 50%"/>
    <div class="text">
      {{ site.description }}
    </div>
  </div>
</article>
{% assign featured_posts = site.posts | where:"featured", true %}
{% assign featured_work = site.work | where:"featured", true %}
{% assign featured_art = site.art | where:"featured", true %}


{% if featured_posts.size > 0 %}
<article class="home post">
    <ul class="post-list">
      {% for post in featured_posts limit:1 %}
      <li>
        <h3 class="post-link">
          Recent Post: <a href="{{ post.url | relative_url }}"> {{ post.title }}</a>
        </h3>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
          {{ post.snippet | markdownify }}
      </li>
      {% endfor %}
    </ul>
</article>
{% endif %}

<h4 class="more">
  <a href="/blog">All Blog Posts</a>
</h4>





<!-- 
--------------------- Work section ----------------------------- 
-->


{% if featured_work.size > 0 %}
<article class="home work">
    <ul class="post-list">
      {% for post in featured_work %}
      <li>
        <h3 class="post-link">
          <a href="{{ post.url | relative_url }}"> {{ post.title }}</a>
        </h3>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
          {{ post.snippet | markdownify }}
      </li>
      {% endfor %}
    </ul>
</article>
{% endif %}

<h4 class="more">
  <a href="/work">Full Job History</a>
</h4>


<!-- 
------------------- Art section --------------------------------
-->

{% if featured_art.size > 0 %}
<article class="home art">
    <ul class="post-list">
      {% for post in featured_art %}
      <li class="art-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.primaryImage.image }}" />
          <span class="image-caption">
           {{ post.title }}
          </span>
        </a>
      </li>
      {% endfor %}
    </ul>
</article>
{% endif %}

<h4 class="more">
  <a href="/blog">View Gallery</a>
</h4>
