---
layout: default
---
<article class="blog-post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name{% if page.subtitle and page.subtitle != '' %} has-subtitle{% endif %}" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.subtitle and page.subtitle != '' %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {% if page.featuredImage.image and page.featuredImage.image != '' %}
      <p>
        <img class="featured" src="{{ page.featuredImage.image }}" />
    </p>
    {% endif %}
    {{ content }}
  
    {% if page.syndications and page.syndications != '' and page.syndications.size > 0 %}
      {% include syndications.html %}
    {% elsif page.license and page.license != '' %}
      {% include syndications.html %}
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
