---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body{% if jekyll.environment == "development" %} class="development"{% endif %}>
    
    <!-- {{ jekyll.environment | upcase }} -->

    {% include header.html %}
    
    {% if page.collection %}
      {% assign class = page.collection %}
    {% elsif page.title %}
      {% assign class = page.title | downcase %}
    {% else %}
      {% assign class = "home" %}
    {% endif %}
    

    <main class="page-content" aria-label="Content">
      <div class="wrapper {{ class }}">
        
        <article class="question-and-answer">
          <h2>{{ page.title }}</h2>
          
          <div class="question-meta">
            <p>The following question was written by <a href="{{ page.op-profile-link }}">{{ page.op-username }}</a> and reprinted under a <a href=""></a></p>
            <h3>{{ page.op-question.question-title }}</h3>
            {{ page.op-question.question }}<br>
            {% include reprint-disclaimer.html %}
          </div>
          <div class="question">
            {{ page.op-question.question-link }}<br>
            {{ page.op-question.op-profile-link }}<br><br>
          </div>
          
          <div class="answer">
            <h3>Answer</h3>
            {{ page.answer.answer }}<br>
            
            {% if page.answer.answer-link %}
              {{ page.answer.answer-link }}
            {% endif %}
            
          </div>
          
          {% for syndication in site.syndication-sites %}
            {% if syndication.site-name == page.syndication.site-name %}
              {% assign syndication-site = syndication%}
              poop {{ syndication.site-name }}
            {% endif %}
          {% endfor %}
          
          <div class="syndications licenses">
            {% if page.syndication and page.syndication != '' %}
              {% include syndication-single.html syndication=syndication-site post-url=page.answer.answer-link %}
            {% elsif page.license and page.license != '' %}
              {% include syndications.html %}
            {% endif %}
          </div>
          
          
          </div>
        </article>
            
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
