---
layout: default
---


{% assign year_format = site.minima.date_format | default: "%Y" %}

<section class="work collection-index">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}
  {% if site.work.size > 0 %}
    {% assign curent = site.work | sort:'startDate' | reverse %}
    {% assign old = site.work | sort:'endDate' | reverse %}
    <h2>
      Job History
    </h2>
    <ul class="post-list">
      {% for post in curent %}
        {% capture endYear %}{{ post.endDate | date: year_format }}{% endcapture %}
        {% if endYear == '9999' %}
          {% include work-index-snippet.html %}
        {% endif %}
      {% endfor %}
      
      {% for post in old %}
        {% capture endYear %}{{ post.endDate | date: year_format }}{% endcapture %}
        {% if endYear != '9999' %}
          {% include work-index-snippet.html %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</section>

{% if site.certifications.size > 0 %}
  {% assign date_format = site.minima.date_format | default: "%B %d, %Y" %}
  {% assign sorted_certs = site.certifications | sort:'certificationDate' | reverse %}
  <section class="collection-index">
    <h2 class="certification-header">
      Certifications
    </h2>
    <ul class="post-list certifications">
      {% for post in sorted_certs %}
        <li>
          {% if post.logo %}
            <div class="logo">
              <a href="{{ post.link }}" target="_blank">
                <img src="{{ post.logo }}" alt="{{ post.title }} logo" />
              </a>
            </div>
          {% endif %}
          <div class="title-meta">
            <h3 class="certification-title text-align-center">
              {% if post.link %}<a href="{{ post.link}}" target="_blank">{% endif %}
              {{ post.title }}
              {% if post.link %}</a>{% endif %}
            </h3>
            {% if post.certificationDate or post.expirationDate %}
              <p span class="post-meta">
                {% if post.certificationDate %}
                  <span class="certification-date">
                    {{ post.certificationDate | date:date_format }}
                  </span>
                {% endif %}                          
              </p>
            {% endif %}
          </div>
      </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% if site.trainings.size > 0 %}
  {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
  <section class="training-index">
    <h2 class="training-header text-align-center">
      Trainings
    </h2>
    <ul class="post-list trainings">
      {% for training in site.trainings %}
        <li class="training">
          <h3>
            {% if training.link %}
              <a href="{{ training.link }}" target="_blank">
                {{ training. title }}
              </a>
            {% else %}
              {{training.title}}
            {% endif %}
          </h3>
          <p class="post-meta">
            Provided by: <a href="{{ training.provider.link }}" target="_blank">
              {{ training.provider.name }}
            </a><br>
            {% if training.startDate == training.endDate %}
              {{ training.startDate | date: date_format }}
            {% else %}
              {{ training.startDate | date: date_format }} - {{training.endDate | date: date_format }}
            {% endif %}
          </p>
          <div class="training-description">
              {{ training.description | markdownify }}
          </div>
          <div class="trainers">
            <h4>
              Trainer{% if training.trainers.size > 1 %}s{% endif %}
            </h4>
            <ul>
              {% for trainer in training.trainers %}
                <li class="trainer">
                  {% if trainer.trainer.link %}
                    <a href="{{ trainer.trainer.link }}" target="_blank">
                      {{ trainer.trainer.name }}
                    </a>
                  {% else %}
                    {{ trainer.trainer.name }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% if site.conferences.size > 0 %}
  <section class="conference-index">
    <h2 class="conference-header text-align-center">
      Conferences
    </h2>
    <ul class="post-list conferences">
      {% for conference in site.conferences %}
        <li>
          <div class="title">
            {% if conference.logo %}
              <div>
                <img src="{{ conference.logo }}" alt="{{ conference.title }} logo" />
              </div>
            {% else %}
              <h3>
                <a href="{{ conference.link }}" target="_blank">
                  {{ conference.title }}
                </a>
              </h3>
            {% endif %}
          </div>
          {% if conference.description %}
            <div class="description">
              
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
