---
layout: default
---


{% assign year_format = site.minima.date_format | default: "%Y" %}
{% assign month_format = site.minima.date_format | default: "%B" %}
{% assign day_format = site.minima.date_format | default: "%e" %}

<section class="work collection-index">
  {% if site.work.size > 0 %}
    {% assign current = site.work | sort:'company' | sort:'startDate' | reverse %}
    {% assign old = site.work | sort:'endDate' | reverse %}
    <h2 id="job-history">
      Job History
    </h2>
    <ul class="post-list work-index">
      {% for post in current %}
        {% capture endYear %}{{ post.endDate | date: year_format }}{% endcapture %}
        {% if endYear == '9999' %}
          {% include work-index-snippet.html %}
        {% endif %}
      {% endfor %}
      
      {% for post in old %}
        {% capture endYear %}{{ post.endDate | date: year_format }}{% endcapture %}
        {% if endYear != '9999' %}
          {% include work-index-snippet.html %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</section>

{% include certifications.html %}

{% if site.trainings.size > 0 %}
  {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
  <section class="training-index">
    <h2 class="training-header text-align-center" id="trainings">
      Additional Training
    </h2>
    <ul class="post-list trainings">
      {% assign sorted_trainings = site.trainings | sort:"endDate" | reverse %}
      {% for training in sorted_trainings %}
        <li class="training">
          <h3>
            {% if training.link %}
              <a href="{{ training.link }}" target="_blank">
                {{ training. title }}
              </a>
            {% else %}
              {{training.title}}
            {% endif %}
          </h3>
          <p class="post-meta">
            {% if training.provider.name and training.provider.name != '' %}
              Provided by 
              {% if training.provider.link and training.provider.link != '' %}<a href="{{ training.provider.link }}" target="_blank">
                {{ training.provider.name }}
                </a>
              {% else %}
                {{ training.provider.name }}
              {% endif %}
              <br>
            {% endif %}
            
            {% assign startDay = training.startDate | date: day_format %}
            {% assign endDay = training.endDate | date: day_format %}
            
            {% assign startMonth = training.startDate | date: month_format %}
            {% assign endMonth = training.endDate | date: month_format %}
            
            {% assign startYear = training.startDate | date: year_format %}
            {% assign endYear = training.endDate | date: year_format %}
            
            {% if training.startDate == training.endDate %}
              {{ training.startDate | date: date_format }}
            {% elsif startYear == endYear and startMonth == endMonth %}
              {{ startMonth }} {{ startDay }}-{{ endDay }}, {{ startYear }}
            {% elsif startYear == endYear %}
              {{ startMonth }} {{ startDay }} - {{ endMonth }} {{ endDay }}, {{ endYear }}
            {% else %}
              {{ training.startDate | date: date_format }} - {{ training.endDate | date: date_format }}
            {% endif %}
          </p>
          <div class="training-description">
              {{ training.description | markdownify }}
          </div>
          {% if training.trainers.size > 0 %}
              <div class="trainers">
                <h4>
                  Trainer{% if training.trainers.size > 1 %}s{% endif %}
                </h4>
                <ul>
                  {% for trainer in training.trainers %}
                    <li class="trainer">
                      {% if trainer.trainer.link %}
                        <a href="{{ trainer.trainer.link }}" target="_blank">
                          {{ trainer.trainer.name }}
                        </a>
                      {% else %}
                        {{ trainer.trainer.name }}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% if site.conferences.size > 0 %}
  <section class="conference-index">
    <h2 class="conference-header text-align-center" id="conferences">
      Conferences
    </h2>
    <ul class="post-list conferences">
      {% assign sorted_conferences = site.conferences | sort:"mostRecentYear.endDate" | reverse  %}
      
      {% for conference in sorted_conferences %}
       
        <li class="conference{% if conference.logo %} has-logo{% endif %}">
          {% if conference.logo %}
            <h3 class="logo">
              <a href="{{ conference.link }}" target="_blank">
                <img src="{{ site.placeholderImage }}" data-image="{{ conference.logo }}" alt="{{ conference.title }} logo" />
              </a>
            </h3>
          {% else %}
            <h3>
              <a href="{{ conference.link }}" target="_blank">
                {{ conference.title }}
              </a>
            </h3>
          {% endif %}
          {% if conference.logo %}<div class="meta-description-container">{% endif %}
          <p class="post-meta">
            
             {% if conference.previousYears %}
              {% assign sorted_previous_years = conference.previousYears | sort:"endDate" %}
              {% for year in sorted_previous_years %}
                {{ year.endDate | date: year_format }},
              {% endfor %}
            {% endif %}
            {{ conference.mostRecentYear.endDate | date: year_format }}
          </p>
          {% if conference.description %}
            <div class="description">
              {{ conference. description | markdownify }}
            </div>
          {% endif %}
          {% if conference.logo %}</div>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
