---
layout: default
---


{% assign year_format = site.minima.date_format | default: "%Y" %}

<section class="work collection-index">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}
  {% if site.work.size > 0 %}
    {% assign curent = site.work | sort:'startDate' | reverse %}
    {% assign old = site.work | sort:'endDate' | reverse %}
    <h2>
      Job History
    </h2>
    <ul class="post-list">
      {% for post in curent %}
        {% capture endYear %}{{ post.endDate | date: year_format }}{% endcapture %}
        {% if endYear == '9999' %}
          {% include work-index-snippet.html %}
        {% endif %}
      {% endfor %}
      
      {% for post in old %}
        {% capture endYear %}{{ post.endDate | date: year_format }}{% endcapture %}
        {% if endYear != '9999' %}
          {% include work-index-snippet.html %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</section>

{% if site.certifications.size > 0 %}
{% assign date_format = site.minima.date_format | default: "%B %d, %Y" %}
{% assign sorted_certs = site.certifications | sort:'certificationDate' | reverse %}
  <section class="collection-index">
    <h2 class="certification-header">
      Certifications
    </h2>
    <ul class="post-list certifications">
      {% for post in sorted_certs %}
        <li>
          {% if post.logo %}
            <div class="logo">
              <a href="{{ post.link }}" target="_blank">
                <img src="{{ post.logo }}" alt="{{ post.title }} logo" />
              </a>
            </div>
          {% endif %}
          <div class="title-meta">
            <h3 class="certification-title">
              {% if post.link %}<a href="{{ post.link}}" target="_blank">{% endif %}
              {{ post.title }}
              {% if post.link %}</a>{% endif %}
            </h3>
            {% if post.certificationDate or post.expirationDate %}
              <p span class="post-meta">
                {% if post.certificationDate %}
                  <span class="certification-date">
                    {{ post.certificationDate | date:date_format }}
                  </span>
                {% endif %}                          
              </p>
            {% endif %}
          </div>
      </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
