---
layout: default
---

<div class="work collection-index">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }} History</h1>
  {% endif %}
  
  {% if site.work.size > 0 %}
    {% assign sorted_work = site.work | sort:"startDate" | reverse %}
    <ul class="post-list">
      {% for post in sorted_work %}
        {% if post.endDate %}
        {% else %}
          {% include work-index-snippet.html %}
        {% endif %}
      {% endfor %}
      {% assign sorted_work = site.work | sort:"endDate" | reverse %}
      {% for post in sorted_work %}
        {% if post.endDate %}
          {% include work-index-snippet.html %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

</div>
