---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="work-header">
    {% if page.logo %}
     <div class = "logo">
        <img src="{{ page.logo }}">
    </div>
    {% endif %}
    <div class="title-company-dates">
      <h2 itemprop="name headline" class="job-title">{{ page.title | escape }}</h2>
      <h3 class = "company">
        {{ page.company }}
      </h3>
      <p class="post-meta">
        {% assign date_format = site.minima.date_format | default: "%B %Y" %}
        {% assign year_format = site.minima.date_format | default: "%Y" %}
        {% capture endYear %}{{ page.endDate | date: year_format }}{% endcapture %}
        {{ page.startDate | date: date_format }} - 
        {% if endYear != '9999' %}
          {{ page.endDate | date: date_format }}
        {% else %}
          Present
        {% endif %}
      </p>
    </div>
    
      
  </header>
  <div class="post-content e-content" itemprop="articleBody">
    {% if page.featuredImage.image != '' %}
      <img class="featured" src="{{ post.featuredImage.image }}" />
    {% endif %}
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
